<ul>
  <h1 class="text-center p-3">Danh sách sản phẩm</h1>
  <hr>

  {{#each products}}
  <div class="table	table-bordered  text-center row">
    <p class="col-sm-4 "><img src="{{anh}}" alt="{{ name }}"></p>
    <p class="col-sm-6">
     <a class="h3 text-dark text-decoration-none"> {{ name }}</a>
      <br><br><br>
      {{ price }}
      <br><br><br>
      {{ mau }}
    </p>
    <div class="col-sm-2">
      <input class="btn-light btn  " type="submit" value="Sửa">
      <br> <br>
      <input class="btn-light btn btn-block" type="submit" value="Xóa">
    </div>
  </div>
  <br>
  <hr>
  {{/each}}
</ul>