<ul>
  <h1 class="text-center p-3">Danh sách sản phẩm</h1>
  <hr>

  {{#each products}}
  <div class="table	table-bordered  text-center row">

    <h3>{{ name }}</h3>
    <p>{{ price }}</p>
    <p class=""><img src="{{anh}}" alt="{{ name }}"></p>
    <p>{{ mau }}</p>
    <input class="btn-light btn p-b-20" type="submit" value="Sửa">
    <input class="btn-light btn btn-block" type="submit" value="Xóa">
  </div>
  <br>
  <hr>
  {{/each}}
</ul>